{% extends "mobile/layout.html" %}

{% block meta %}
    <meta property="og:title" content="Puzzle{{ ' #' + picture.tag if picture.tag else ' ' }} by @{{ picture.user.insta_name }}" />
    <meta property="og:image" content="{{ url_for('export', id=picture.id, _external=True) }}" />
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mobile/showpic.css') }}">
{% endblock %}

{% block script %}
    <script>
        var paletteData = {{ palette | safe }};
        var exportImgUrl = '{{ url_for('export', id=picture.id) }}';
        require(['showpicture'], function(showpazzle) {
            showpazzle({{ picture.id }}, {{ pixels | safe }}, paletteData, exportImgUrl, true);
        })
    </script>
{% endblock %}

{% block header %}
    <div id="pictureName">
        {% if picture.tag %}
            #{{ picture.tag }} by
        {% endif %}
        <a href="https://instagram.com/{{ picture.user.insta_name }}" id="author" target="_blank">
            @{{ picture.user.insta_name }}
        </a>
    </div>
{% endblock %}

{% block body %}
    <div id="imageContainer">
        <div id="mainPhoto" class="width{{ (picture.width / group_size) | round(0, 'ceil') | int }} height{{ (picture.height / group_size) | round(0, 'ceil') | int }}">
            <div id="mainBackground" url="{{ url_for('export', id=picture.id) }}"></div>
        </div>
    </div>

    <div id="zoom">
        <div id="username"></div>
    </div>
{% endblock %}