{% extends "layout.html" %}


{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

    {% if g.authorized %}

    {% endif %}
{% endblock %}


{% block script %}
    {% if g.authorized %}
        <script>
            require(['index', 'upload'], function(index, upload) {
                index();
                {% if can_upload %}
                    upload({{ max_size * 1024 * 1024 }});
                {% endif %}
            })
        </script>
    {% endif %}
{% endblock %}


{% block body %}
    <div id="leftColumn">&nbsp;</div>
    <div id="rightColumn">
        {% if not g.authorized %}
            <h2>
                Make your own pazzle:
            </h2>
            <ol>
                <li><a href="{{ url_for('login') }}" class="button">Log in</a> via Instagram</li>
                <li>Upload an image (jpeg or png)</li>
                <li>Choose a hashtag to find pazzle elements</li>
                <li>Start compiling and enjoy the process</li>
                <li>Share your pazzle</li>
            </ol>
        {% else %}
            <p>You can upload up to 3 pictures</p>
            <div id="pictures">
                {% if can_upload %}
                    <div class="picture" id="new">
                        <input type="file" style="display:none;" id="inputfile"/>
                        <div class="original">
                            Choose photo or drug it here to upload
                        </div>
                        Maximum size: {{ max_size}}Mb<br />
                        Allowed extentions: JPEG and PNG
                    </div>
                {% endif %}
                {% for p in g.user.pictures | reverse %}
                    <div class="picture">
                        <div class="original" style="background-image: url({{ url_for('preview', id=p.id) }});">
                            <a class="pictureLink" href="{{ url_for('render', id=p.id) }}">
                            </a>
                            <a class="delete" href="{{ url_for('palette', id=p.id) }}">Delete</a>
                        </div>
                        {% if p.tag %}
                            <p class="tag">#{{ p.tag }}</p>
                            <p class="accuracy" style="color: hsl({{ 120 * p.diff_percentage() / 100 }}, 35%, 75%)">
                                Accuracy: {{ p.diff_percentage() }}%
                            </p>
                        {% else %}
                            <p class="tag notSpecified">Tag is not specified</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>


            <div id="uploader">
                <div id="uploaderHelp">Drop picture to upload</div>
            </div>
        {% endif %}
    </div>
{% endblock %}