{% extends "layout.html" %}


{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

    {% if g.authorized %}

    {% endif %}
{% endblock %}


{% block script %}
    {% if g.authorized %}
        <script>
            require(['upload'], function(upload) {
                upload();
            })
        </script>
    {% endif %}
{% endblock %}


{% block body %}
    {% if not g.authorized %}
    {% else %}
        <div id="uploader"></div>

        <br /><br />
        {% for p in g.user.pictures %}
            <a href="{{ url_for('render', id=p.id) }}">Image {{ p.id }}</a>
        {% endfor %}
    {% endif %}
{% endblock %}