<!doctype html>
<html>
    <head>
        <title>City Mosaic</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        {% block style %}{% endblock %}

        <script src="{{ url_for('static', filename='js/libs/require.js') }}"></script>
        <script>
            requirejs.config({
                baseUrl: "{{ url_for('static', filename='js') }}",
                urlArgs: "bust=" + (new Date()).getTime(),
                paths: {
                    'libs/d3': "libs/d3.min",
                    'libs/instafeed': "libs/instafeed.min",
                }
                //    jquery: 'jquery-2.1.1.min'
                //},
            });
        </script>
        {% block script %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div id="header">
                <h1>Pazzla</h1>
                <div id="login">
                    {% if g.authorized %}
                        <span id="username">@{{ g.user.insta_name }}</span> |
                        <a href="{{ url_for('logout') }}">Log out</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">Log in</a>
                    {% endif %}
                </div>
            </div>
            <div id="content">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>