{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/render.css') }}">
{% endblock %}

{% block script %}
    <script>
        {% if g.authorized %}
            require(['render'], function(render) {
                render('{{ access_token }}', {{ picture.id }}, {{ pixels | safe }}, {{ group_size }});
            })
        {% else %}
            require(['showpazzle'], function(showpazzle) {
                showpazzle({{ picture.id }}, {{ pixels | safe }}, {{ group_size }});
            })
        {% endif %}
    </script>
{% endblock %}

{% block body %}
    <div id="leftColumn">
        {% if g.authorized %}
            <div id="preview">
                <img src="{{ url_for('preview', id=picture.id) }}" />
            </div>
            <div id="tagForm">
                <input type="text" value="{{ picture.tag if picture.tag else 'enter_tag_before_start' }}" id="tagName" {% if picture.tag != None %}disabled="disabled"{% endif %} />
                <span>#</span>
            </div>


            <div id="startPanel" class="panel">
                <button id="startButton" class="button">Start</button>
            </div>

            <div id="loadingPanel" class="panel" style="display: block;">
                <p class="status">Loading</p>
                <p id="loadingPercentage" class="percentage">0%</p>
            </div>

            <div id="resumePanel" class="panel">
                <p class="status">Paused</p>
                <p>Accuracy:</p>
                <p class="accuracyPercentage percentage">0.0%</p>
                <button id="resumeButton" class="button">Resume</button>
                <p>
                    or <button class="clearButton button">clear</button> the picture to start
                    with another tag
                </p>
            </div>

            <div id="processingPanel" class="panel">
                <p class="status">Compiling</p>
                <p>Accuracy:</p>
                <p class="accuracyPercentage percentage">0.0%</p>
                <button id="pauseButton" class="button">Pause</button>
            </div>

            <div id="completePanel" class="panel">
                <p class="status">Complete</p>
                <p>Accuracy:</p>
                <p class="accuracyPercentage percentage">100.0%</p>
                <p>
                    You can <button class="clearButton button">clear</button> the picture to start
                    with another tag
                </p>
            </div>

            <div id="interruptionPanel" class="panel">
                <p class="status">Interrupted</p>
                <p>Accuracy:</p>
                <p class="accuracyPercentage percentage">50.0%</p>
                <p>
                    Unfortunately, there is no enough tags to complete the process.
                    You can <button class="clearButton button">clear</button> the picture to start
                    with more popular tag
                </p>
            </div>

            <div id="savingPanel" class="panel">
                <p class="status">Saving</p>
            </div>


            <div id="otherActions">
                <button id="deleteButton" class="button">delete it</button>
            </div>
        {% else %}
            <p>
                <a href="https://instagram.com/{{ picture.user.insta_name }}" id="author" target="_blank">
                    @{{ picture.user.insta_name }}
                </a>
            </p>
            {% if picture.tag %}
                <p id="tagName">#{{ picture.tag }}</p>
            {% endif %}
        {% endif %}
    </div>
    <div id="rightColumn">
        <div id="mainPhoto" class="width{{ (picture.width / group_size) | round(0, 'ceil') | int }} height{{ (picture.height / group_size) | round(0, 'ceil') | int }}"></div>
    </div>
    {% if g.authorized %}
        <a href="{{ url_for('index') }}" id="allPictures" title="All photos" class="button">←</a>
    {% endif %}
{% endblock %}