{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/render.css') }}">
{% endblock %}

{% block script %}
    <script>
        {% if g.authorized %}
            require(['render'], function(render) {
                render('{{ access_token }}', {{ picture_id }}, {{ picture | safe }});
            })
        {% else %}
            require(['showpazzle'], function(showpazzle) {
                showpazzle({{ picture_id }}, {{ picture | safe }});
            })
        {% endif %}
    </script>
{% endblock %}

{% block body %}
    <div id="leftColumn">
        {% if g.authorized %}

            <a href="{{ url_for('index') }}">← All pictures</a>
            <div id="preview"></div>
            <div id="tagForm">
                #<input type="text" value="selfie" id="tagName" />
            </div>

            Accuracy
            <div id="accuracy"></div>

            <div id="startButton" class="button">Start</div>
            <div id="stopButton" class="button">Stop</div>
            <div id="clearButton" class="button">Clear</div> and start with another tag
            <div id="deleteButton" class="button">Delete</div>
        {% else %}
            <span id="tagName">#{{ tag }}</span>
            <a href="https://instagram.com/{{ author }}" id="author" target="_blank">@{{ author }}</a>
        {% endif %}
    </div>
    <div id="rightColumn">
        <div id="mainPhoto"></div>
    </div>
{% endblock %}