{% extends "layout.html" %}

{% block script %}
    <script>
        {% if g.authorized %}
            require(['render'], function(render) {
                render('{{ access_token }}', {{ picture_id }}, {{ picture | safe }});
            })
        {% else %}
            require(['showpazzle'], function(showpazzle) {
                showpazzle({{ picture_id }}, {{ picture | safe }});
            })
        {% endif %}
    </script>
{% endblock %}

{% block body %}
    <a href="{{ url_for('index') }}">All pictures</a>

    {% if g.authorized %}
        <input type="text" value="selfie" id="tagName" />

        <button id="startButton">Start</button>
        <button id="stopButton">Stop</button>
        <button id="clearButton">Clear</button>
        <button id="deleteButton">Delete</button>
    {% else %}
        <span id="tagName">#{{ tag }}</span>
        <a href="https://instagram.com/{{ author }}" id="author" target="_blank">@{{ author }}</a>
    {% endif %}

    <div id="accuracy"></div>
    <div id="mainPhoto">
    </div>
{% endblock %}