{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/render.css') }}">
{% endblock %}

{% block script %}
    <script>
        var paletteData = {{ palette | safe }};
        var exportImgUrl = '{{ url_for('export', id=picture.id) }}';
        require(['showpazzle'], function(showpazzle) {
            showpazzle({{ picture.id }}, {{ pixels | safe }}, paletteData, exportImgUrl);
        })
    </script>
{% endblock %}

{% block body %}
    <div id="leftColumn">
        <p>
            <a href="https://instagram.com/{{ picture.user.insta_name }}" id="author" target="_blank">
                @{{ picture.user.insta_name }}
            </a>
        </p>
        {% if picture.tag %}
            <p id="tagName">#{{ picture.tag }}</p>
        {% endif %}

        <a href="#" id="exportButton">export</a>
        <a id="downloader" href="#">download</a>
    </div>
    <div id="rightColumn">
        <div id="mainPhoto" class="width{{ (picture.width / group_size) | round(0, 'ceil') | int }} height{{ (picture.height / group_size) | round(0, 'ceil') | int }}"></div>

        <canvas id="exportCanvas" width="{{ picture.width * export_pic_size / group_size }}"
                height="{{ picture.height * export_pic_size / group_size }}"></canvas>
    </div>

    <div id="zoom">
        <div id="username"></div>
    </div>
{% endblock %}