body {
  margin: 0;
  color: #1C212D;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; }

  .container {
    width: 1060px;
    margin: auto; }

    #header {
      position: relative;
      margin: 15px 0 30px;
      height: 89px;
      overflow: hidden; }
      #header h1 {
        position: relative;
        float: left;
        font-family: 'Roboto Slab', serif;
        font-size: 80px;
        margin: 0;
        padding: 0; }
        #header #login {
          position: absolute;
          bottom: 0px;
          right: 0px; }

#content {
  overflow: hidden; }
  #content #leftColumn {
    position: relative;
    float: left;
    width: 250px;
    margin-right: 20px; }
    #content #rightColumn {
      position: relative;
      float: left;
      width: 790px; }

p {
  margin: 0 0 15px 0; }
