body {
  margin: 0; }

  .container {
    width: 1180px;
    margin: auto; }

    #header {
      margin: 15px 0;
      height: 100px;
      background: silver; }
      #header h1 {
        margin: 0;
        padding: 0; }
        #header #login {
          position: relative;
          float: right; }

#content {
  background: silver;
  overflow: hidden; }
  #content #leftColumn {
    position: relative;
    float: left;
    width: 180px;
    margin-right: 20px; }
    #content #rightColumn {
      position: relative;
      float: left;
      width: 980px; }
