#pictures {
  margin-top: 25px;
  overflow: hidden; }
  #pictures .picture {
    position: relative;
    float: left;
    width: 390px;
    height: 160px;
    margin-bottom: 30px;
    background: white; }
    #pictures .picture p {
      margin: 0 20px 0; }
      #pictures .picture .tag {
        word-break: break-all; }
        #pictures .picture .accuracy {
          color: #BAC0B9; }
          #pictures .picture .notSpecified {
            font-style: italic;
            color: #BAC0B9; }
            #pictures .picture .original {
              position: relative;
              float: left;
              overflow: hidden;
              height: 160px;
              width: 200px;
              margin-right: 20px;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center center; }
              #pictures .picture .original .pictureLink {
                display: block;
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                bottom: 20px; }
                #pictures .picture .original .delete {
                  display: block;
                  transition: right 0.1s ease-out 0s;
                  position: absolute;
                  right: -50px;
                  height: 20px;
                  width: 50px;
                  top: 0;
                  color: #2966C3;
                  text-decoration: none;
                  text-align: center;
                  line-height: 20px;
                  font-size: 12px;
                  background: rgba(255, 255, 255, 0.7); }
                  #pictures .picture .original .delete:hover {
                    background: rgba(255, 255, 255, 0.9); }
              #pictures .picture .original:hover .delete {
                right: 0; }
    #pictures .picture#new .original {
      cursor: pointer;
      background: none;
      border: 4px dashed #1C212D;
      height: 82px;
      width: 152px;
      text-align: center;
      padding: 35px 20px; }
      #pictures .picture#new .original:hover {
        border-color: #BAC0B9;
        color: #BAC0B9; }

#uploadError {
  color: #da5050; }
