#allPictures {
  text-decoration: none;
  padding: 10px;
  position: fixed;
  left: 0px;
  top: 151px;
  font-size: 24px; }

  #preview {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    max-height: 250px; }
    #preview img {
      display: block;
      width: 100%; }
      #preview #deleteButton {
        transition: right 0.1s ease-out 0s;
        display: block;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        position: absolute;
        right: -50px;
        height: 20px;
        width: 50px;
        top: 0;
        color: #2966C3;
        text-decoration: none;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        background: rgba(255, 255, 255, 0.7); }
        #preview #deleteButton:hover {
          background: rgba(255, 255, 255, 0.9); }
    #preview:hover #deleteButton {
      right: 0; }

#tagForm {
  position: relative;
  height: 34px; }
  #tagForm input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 223px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    color: #1C212D;
    background: white;
    font-size: 18px;
    padding: 4px 5px 4px 20px;
    border: 1px solid #1C212D; }
    #tagForm input[disabled] {
      border: 1px solid #eee !important;
      color: #BAC0B9; }
  #tagForm span {
    position: absolute;
    left: 7px;
    top: 5px;
    color: #BAC0B9; }

.panel {
  display: none;
  margin: 25px 0 0;
  height: 250px; }

  #startButton, #resumeButton, #pauseButton {
    font-size: 24px;
    padding: 8px;
    display: block;
    width: 100%; }

    #startButton[disabled] {
      opacity: 0.2;
      cursor: default; }

      .status {
        font-size: 24px;
        text-align: center; }
        .status img {
          width: 15px; }

.accuracy {
  font-size: 14px;
  color: #BAC0B9;
  text-align: center; }

  .accuracyPercentage {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 25px; }

    .hint {
      margin-top: 10px;
      font-size: 12px;
      color: #BAC0B9;
      text-align: left; }
      .hint .button {
        background: none;
        font-size: 12px;
        padding: 0; }
