#uploader {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;

    background: rgba(0, 0, 0, 0.4);

    &.hover {
        display: block;
    }

    #uploaderHelp {
        position: absolute;
        top: 30px;
        bottom: 30px;
        left: 30px;
        right: 30px;
        border: 4px dashed #fff;

        color: #fff;
        text-align: center;
        font-size: 40px;
        padding-top: 30px;
    }
}

$photoHeight: 150px;
$mainRowMargin: 15px;

$photoWidth: 200px;
$mainColumnMargin: 20px;

#pictures {
    .picture {
        height: $photoHeight;
        margin-bottom: $mainRowMargin;
        background: white;

        .original {
            position: relative;
            float: left;

            height: $photoHeight;
            width: $photoWidth;
            margin-right: $mainColumnMargin;

            background: gray;
        }

        &#new {
            .original {
                background: none;
                border: 4px dashed #1C212D;
                height: $photoHeight - 8;
                width: $photoWidth - 8;
            }
        }
    }
}