#uploader {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;

    background: #000;
    opacity: 0.3;

    &.hover {
        display: block;
    }
}

$mainRow: 100px;
$mainRowMargin: 15px;

$mainColumn: 180px;
$mainColumnMargin: 20px;

#pictures {
    .picture {
        height: $mainRow;
        margin-bottom: $mainRowMargin;
        background: white;

        .original {
            position: relative;
            float: left;

            height: 100%;
            width: $mainColumn;
            margin-right: $mainColumnMargin;

            background: gray;
        }
    }
}