body {
    margin: 0;
}

$columnCount: 6;
$mainColumn: 180px;
$mainColumnMargin: 20px;

$mainRow: 100px;
$mainRowMargin: 15px;

.container {
    width: $mainColumn * $columnCount + $mainColumnMargin * ($columnCount - 1);
    margin: auto;
}

#header {
    margin: $mainRowMargin 0;
    height: $mainRow;
    
    background: silver;

    h1 {
        margin: 0;
        padding: 0;
    }

    #login {
        position: relative;
        float: right;
    }
}

#content {
    background: silver;
    overflow: hidden;

    #leftColumn {
        position: relative;
        float: left;
        width: $mainColumn;
        margin-right: $mainColumnMargin;
    }

    #rightColumn {
        position: relative;
        float: left;
        width: $mainColumn * ($columnCount - 1) + $mainColumnMargin * ($columnCount - 2);
    }
}