body {
    margin: 0;
    color: #1C212D;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

$columnCount: 4;
$mainColumn: 250px;
$mainColumnMargin: 20px;

$mainRow: 89px;
$mainRowMargin: 15px;

.container {
    width: $mainColumn * $columnCount + $mainColumnMargin * ($columnCount - 1);
    margin: auto;
}

#header {
    position: relative;
    margin: $mainRowMargin 0 $mainRowMargin * 2;
    height: $mainRow;
    overflow: hidden;

    h1 {
        position: relative;
        float: left;
        font-family: 'Roboto Slab', serif;
        font-size: 80px;
        margin: 0;
        padding: 0;
    }

    #login {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}

#content {
    overflow: hidden;

    #leftColumn {
        position: relative;
        float: left;
        width: $mainColumn;
        margin-right: $mainColumnMargin;
    }

    #rightColumn {
        position: relative;
        float: left;
        width: $mainColumn * ($columnCount - 1) + $mainColumnMargin * ($columnCount - 2);
    }
}

p {
    margin: 0 0 15px 0;
}