body {
    margin: 0;
}

$miniPhotoSize: 10px;

#mainPhoto {
    position: absolute;

    .miniPhoto {
        position: absolute;
        width: $miniPhotoSize;
        height: $miniPhotoSize;

        @for $i from 1 through 100 {
            &[column="#{$i}"] { left: $miniPhotoSize * $i; }
        }

        @for $i from 1 through 100 {
            &[row="#{$i}"] { top: $miniPhotoSize * $i; }
        }
    }
}