$fontColor: #1C212D;
$silverColor: #BAC0B9;
$blueColor: #2966C3;

$photoHeight: 160px;
$mainRowMargin: 15px;

$pictureWidth: 390px;
$photoWidth: 200px;
$mainColumnMargin: 20px;

$deleteWidth: 50px;
$deleteHeight: 20px;

#pictures {
    margin-top: 25px;
    overflow: hidden;

    .picture {
        position: relative;
        float: left;

        width: $pictureWidth;

        height: $photoHeight;
        margin-bottom: 2 * $mainRowMargin;
        background: white;

        p {
            margin: 0 $mainColumnMargin 0;
        }

        .tag {
            word-break: break-all;
        }

        .accuracy {
            color: $silverColor;
        }

        .notSpecified {
            font-style: italic;
            color: $silverColor;
        }

        .original {
            position: relative;
            float: left;
            overflow: hidden;

            height: $photoHeight;
            width: $photoWidth;
            margin-right: $mainColumnMargin;

            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

            .pictureLink {
                display: block;
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                bottom: $deleteHeight;
            }

            .delete {
                display: block;
                transition: right 0.1s ease-out 0s;

                position: absolute;
                right: -$deleteWidth;
                height: $deleteHeight;
                width: $deleteWidth;
                top: 0;

                color: $blueColor;
                text-decoration: none;
                text-align: center;
                line-height: $deleteHeight;
                font-size: 12px;

                background: rgba(255, 255, 255, 0.7);

                &:hover {
                    background: rgba(255, 255, 255, 0.9);
                }            
            }

            &:hover {
                .delete {
                    right: 0;
                }
            }
        }

        &#new {
            .original {
                cursor: pointer;
                background: none;
                border: 4px dashed $fontColor;
                height: $photoHeight - 78;
                width: $photoWidth - 48;
                text-align: center;
                padding: 35px 20px;

                &:hover {
                    border-color: $silverColor;
                    color: $silverColor;
                }
            }
        }
    }
}

#uploadError {
    color: rgb(218, 80, 80);
}