$fontColor: #1C212D;
$silverColor: #BAC0B9;
$backgroundColor: #eee;
$blueColor: #2966C3;

$mainColumn: 250px;

#allPictures {
    text-decoration: none;
    padding: 10px;
    position: fixed;
    left: 0px;
    top: 151px;
    font-size: 24px;
}

#preview {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    max-height: 250px;

    img {
        display: block;
        width: 100%;
    }


    #deleteButton {
        transition: right 0.1s ease-out 0s;

        display: block;

        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;

        position: absolute;
        right: -50px;
        height: 20px;
        width: 50px;
        top: 0;

        color: $blueColor;
        text-decoration: none;
        text-align: center;
        line-height: 20px;
        font-size: 12px;

        background: rgba(255, 255, 255, 0.7);

        &:hover {
            background: rgba(255, 255, 255, 0.9);
        }
    }

    &:hover {
        #deleteButton {
            right: 0;
        }
    }
}

#tagForm {
    position: relative;
    height: 34px;

    input {
        position: absolute;
        top: 0px;
        left: 0px;
        width: $mainColumn - 27;
        border: none;

        font-family: 'Open Sans', sans-serif;
        color: $fontColor;
        background: white;
        font-size: 18px;
        padding: 4px 5px 4px 20px;

        border: 1px solid $fontColor;

        &[disabled] {
            border: 1px solid $backgroundColor !important;
            color: $silverColor;
        }
    }

    span {
        position: absolute;
        left: 7px;
        top: 5px;
        color: $silverColor;
    }
}

.panel {
    display: none;
    margin: 25px 0 0;
    height: 250px;
}

#startButton, #resumeButton, #pauseButton {
    font-size: 24px;
    padding: 8px;
    display: block;
    width: 100%;
}

#startButton[disabled] {
    opacity: 0.2;
    cursor: default;
}


.status {
    font-size: 24px;
    text-align: center;

    img {
        width: 15px;
    }
}

.accuracy {
    font-size: 12px;
    color: $silverColor;
    text-align: center;
}

.accuracyPercentage {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 25px;
}

.hint {
    margin-top: 10px;
    font-size: 12px;
    color: $silverColor;
    text-align: left;

    .button {
        background: none;
        font-size: 12px;
        padding: 0;
    }
}