$miniPhotoSize: 13px;

$fontColor: #1C212D;
$silverColor: #BAC0B9;
$backgroundColor: #eee;

$mainColumn: 250px;

p {
    margin: 0;
    text-align: right;
}

#allPictures {
    text-decoration: none;
    padding: 10px;
    position: fixed;
    left: 0px;
    top: 135px;
    font-size: 24px;
}

#preview {
    overflow: hidden;
    margin-bottom: 10px;
    max-height: 250px;

    img {
        display: block;
        width: 100%;
    }
}

#tagForm {
    position: relative;
    height: 34px;

    input {
        position: absolute;
        top: 0px;
        left: 0px;
        width: $mainColumn - 27;
        border: none;

        font-family: 'Open Sans', sans-serif;
        color: $fontColor;
        background: white;
        font-size: 18px;
        padding: 4px 5px 4px 20px;

        border: 1px solid $fontColor;

        &[disabled] {
            border: 1px solid $backgroundColor !important;
            color: $silverColor;
        }
    }

    span {
        position: absolute;
        left: 7px;
        top: 5px;
        color: $silverColor;
    }
}

.panel {
    display: none;
    margin: 10px 0;
    height: 250px;
}

.startButton, #stopButton {
    font-size: 24px;
    padding: 8px;
}



#otherActions {
    font-size: 12px;
    color: $silverColor;

    .button {
        display: inline-block;
    }
}


#mainPhoto {
    position: relative;
    background: url('/static/img/tbg.png');
    background-size: $miniPhotoSize;

    @for $i from 1 through 100 {
        &.width#{$i} { width: $miniPhotoSize * $i; }
        &.height#{$i} { height: $miniPhotoSize * $i; }
    }

    .miniPhoto {
        div {
            position: absolute;
            width: $miniPhotoSize;
            height: $miniPhotoSize;
            background-size: $miniPhotoSize $miniPhotoSize;
            background-repeat: no-repeat;

            @for $i from 1 through 100 {
                &[column="#{$i}"] { left: $miniPhotoSize * $i; }
            }

            @for $i from 1 through 100 {
                &[row="#{$i}"] { top: $miniPhotoSize * $i; }
            }
        }
    }
}