$miniPhotoSize: 15px;

#mainPhoto {
    position: relative;

    @for $i from 1 through 100 {
        &.width#{$i} { width: $miniPhotoSize * $i; }
        &.height#{$i} { height: $miniPhotoSize * $i; }
    }

    .miniPhoto {
        div {
            position: absolute;
            width: $miniPhotoSize;
            height: $miniPhotoSize;
            background-size: $miniPhotoSize $miniPhotoSize;
            background-repeat: no-repeat;

            @for $i from 1 through 100 {
                &[column="#{$i}"] { left: $miniPhotoSize * $i; }
            }

            @for $i from 1 through 100 {
                &[row="#{$i}"] { top: $miniPhotoSize * $i; }
            }
        }
    }
}