#uploader {
    margin: 100px;
    width: 200px;
    height: 200px;
    border-width: 5px;
    border-color: silver;
    border-style: solid;

    &.hover {
        border-color: green;
    }

    &.error {
        border-color: red;
    }

    &.drop {
        border-color: black;
    }
}